<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/personalCss.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
    <link th:href="@{/css/dashboard.css}"  rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/img_account.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/personal_information.js}"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>
</head>
<body>
<div th:replace="header::#topbar" ></div>

<div style="margin:30px auto" >
    <div style="width: 200px;height:100px;float: left "></div>
    <!--左侧-->
    <div th:replace="left::#leftbar(activeUri='alterPassword.html')"></div>

    <div class="content_right " id="password_detail_content">
        <span class="changePassWord">登录密码修改</span>
        <hr class="hr_css_red" />
        <div class="div_yellow">
            <span><img src="img/tips-ico.jpg" class="img_pass" />修改登录密码后，原密码将不能用来登录。</span>
        </div>

        <div class="change_password_detail">
            <form th:action="@{/alterPassword}" method="post">
                <ul>
                    <!--<c:if test="${err_msg != null }">
                        <li><span style="color:red">${pw_error }</span></li>
                    </c:if>-->
                    <li><span style="color:red" th:if="${pw_error!=null}" th:text="${pw_error}"></span></li>
                    <li><label> <span class="redcolor">*</span> 请输入旧密码：
                    </label>
                        <input id="oldPassWord" name="oldPassWord" class="password_css" type="password" />
                        <span id="passWordMsg" class="password_msg_css">
                            <img src="image/tips-ico.jpg" class="img_pass " /> 请输入旧密码
                        </span>
                    </li>
                    <li><label> <span class="redcolor">*</span> 请输入新密码：</label>
                        <input id="newPassWord" name="newPassWord" class="password_css" type="password"/>
                        <span id="newWordMsg" class="password_msg_css">
                            <img src="image/tips-ico.jpg" class="img_pass "/> 请输入新密码
                        </span>
                    </li>
                    <li><label><span class="redcolor">*</span> 请确认新密码：</label>
                        <input id="newPassWordt" name="newPassWordt" class="password_css" type="password" />
                        <span id="newWordMsgt" class="password_msg_css">
                            <img src="image/tips-ico.jpg" class="img_pass " /> 请再次确认新密码
                        </span>
                    </li>
                    <li>
                        <input type="submit" class="save_button save_left"  value="保  存" /></li>
                </ul>
            </form>
        </div>
    </div>

</div>
<script type="text/javascript">
    $("#person").hover(function(){
        $("#person .personlist").show();

    }, function(){
        $("#person .personlist").hide();
    });
</script>
</body>
</html>